<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/platform/trunk/src/Core/System/SystemConfig/Schema/config.xsd">
    <card>
        <title>Settings</title>
        <title lang="de-DE">#FlutterwavePay# Einstellungen</title>

        <input-field type="text">
            <name>flutterwavePublicKey</name>
            <label>Public Key</label>
            <label lang="de-DE">Public Key</label>
            <defaultValue>FLWPUBK_TEST-7aa8f8204bcb5d67cd7e38ef4427e4a4-X</defaultValue>
            <help-text>You can get your keys from Flutterwave dashboard https://dashboard.flutterwave.com/dashboard/settings/apis </help-text>
        </input-field>
        <input-field type="text">
            <name>flutterwaveSecretKey</name>
            <label>Secret Key</label>
            <label lang="de-DE">#FlutterwavePay# Secret Key</label>
            <defaultValue>FLWSECK_TEST-262bad484ea5a1e4347f8cc58a203d9d-X</defaultValue>
            <help-text>You can get your keys from Flutterwave dashboard https://dashboard.flutterwave.com/dashboard/settings/apis </help-text>
        </input-field>
        <input-field type="text">
            <name>flutterwaveEncryptionKey</name>
            <label>Encryption Key</label>
            <label lang="de-DE">#FlutterwavePay# Encryption Key</label>
            <defaultValue>FLWSECK_TEST05013f3864d9</defaultValue>
            <help-text>Get the Encryption Key from flutterwave dashboard https://dashboard.flutterwave.com</help-text>
        </input-field>
        <input-field type="single-select">
            <name>flutterwaveEvironment</name>
            <label>Evironment</label>
            <label lang="de-DE">Evironment</label>
            <default>staging</default>
            <help-text>System's environment testing or live</help-text>
            <options>
                <option>
                    <value>live</value>
                    <id>live</id>
                    <name>live</name>
                    <name lang="de-DE">leben</name>

                </option>
                <option>
                    <value>staging</value>
                    <id>staging</id>
                    <name>staging</name>
                    <name lang="de-DE">
                        Prüfung
                    </name>
                </option>
            </options>

        </input-field>
    </card>

</config>